.happy {
  background-image: url('../../resources/BannerImage.png');
  background-size: contain;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  /* margin:; */
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 150px;
  /* padding: 50px; */
  /* opacity:50%; */
  /* background-blend-mode: multiply; */
  
 
  border-radius: 16px;
/* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
  /* margin: 50px 140px 140px 140px; */
 p {
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

 }
  
 h1 {
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */

 }

}

.off {
  p {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  h6 {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

  }

 
}

#catagory {
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.photo {
  /* width: 802.9px; */
/* height: 500px; */
flex-shrink: 0;
justify-content: center;
align-items: center;
display: flex;

}

.party {
  background-image: url(../../resources/Vectorrr.png);
  background-size: cover;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  margin-left: 100px;
  margin-right: 150px;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  display: flex;

 
  /* background-size: cover; */
p {
  color:#FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

#text {
  color: rgba(255, 255, 255, 0.80);
/* font-family: normal; */
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
/* 166.667% */

}
/* .button {
  color: black;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}   */

#pic {
  display: flex;
/* width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px; */
/* flex-direction: column; */
justify-content: space-between;
/* align-itemss: right; */
/* flex-shrink: 0; */
}
}